* {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
}

h1 {
  font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
    Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
}

p {
  line-height: 1.25rem;
}

.container-outer {
  position: relative;
  height: 100vh;
  background-color: #f2f0e6;
}

.container-inner {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  width: 300px;
  margin: auto;
  padding: 3rem 2rem;
  text-align: center;
  border: 1px solid #dbd7d2;
  border-radius: 10px;
  background-color: white;
}

.nate-photo {
  width: 150px;
  border: 1px solid #dbd7d2;
  border-radius: 100%;
  margin: 0 0 2rem 0;
}

.header-text {
  margin: 0 0 1.5rem 0;
}

.body-text {
  margin: 0 0 2.25rem 0;
}

.social-links {
  margin: 0;
}

.social-links > a {
  margin: 0 0.25rem;
  text-decoration: none;
}

.social-icon {
  width: 1rem;
}

.icon-mail {
  width: 1.1rem;
}

svg:hover {
  fill: #ffad02;
}

@media only screen and (max-width: 425px) {
  .container-outer {
    background-color: white;
  }

  .container-inner {
    width: auto;
    border: none;
  }

  .nate-photo {
    border: none;
  }
}
